<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>$(KAKAO_REST_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>MBXAccessToken</key>
	<string>$(MAPBOX_PUBLIC_TOKEN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>nanum_square_light.otf</string>
		<string>nanum_square_regular.otf</string>
		<string>nanum_square_bold.otf</string>
		<string>nanum_square_extra_bold.otf</string>
		<string>pretendard_regular.otf</string>
	</array>
</dict>
</plist>
